workflow:
  rules:
    # Allow manual runs from the UI
    - if: '$CI_PIPELINE_SOURCE == "web"'
    # Always run from merge requests
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # Run for commits on default branch (main)
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    # Run for commits on release branches like aib-1.1.x
    - if: '$CI_COMMIT_BRANCH =~ /^aib-\d+\.\d+\.x$/'
    # Run when tagged for a release
    - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/'

default:
  image: quay.io/centos-sig-automotive/automotive-osbuild

include:
  - project: 'redhat/edge/ci-cd/pipe-x/pipelines-as-code'
    ref: gitlab-ci
    file:
      - '/.gitlab/trigger.yml'

stages:
  - pre
  - test
  - container
  - deploy

linter:
  image: python:latest
  before_script:
    - apt-get update && apt-get install -y shellcheck
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install tox
  stage: pre
  script:
    - tox -e lint

yamllint-job:
  image: python:latest
  before_script:
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install tox
  stage: pre
  script:
    - tox -e yamllint

crossref-job:
  image: python:latest
  before_script:
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install git-crossref
  stage: pre
  script:
    - git crossref -v check

ai-review:
  stage: pre
  image: registry.gitlab.com/redhat/edge/ci-cd/ai-code-review:latest
  variables:
    AI_API_KEY: $GEMINI_API_KEY
  script:
    - ai-code-review --post
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  allow_failure: true

unit-test-job:
  image: python:latest
  before_script:
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install tox
  stage: test
  script:
    - tox -e test,coverage
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/report.xml
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'

prepare-image-x86-job:
  image: quay.io/centos-sig-automotive/automotive-osbuild
  stage: test
  script:
    - ./bin/aib download --verbose --distro autosd10-latest-sig --build-dir _build --cache _build/cache examples/complex.aib.yml
    - ./bin/aib download --verbose --distro autosd10 --build-dir _build --cache _build/cache examples/complex.aib.yml
  artifacts:
    paths:
      - _build/
      - builder.tar
    when: on_success
    expire_in: 24 hours

.build-bootc-template:
  image: quay.io/centos-sig-automotive/automotive-osbuild
  stage: test
  needs:
    - job: prepare-image-x86-job
      artifacts: true
  variables:
    AIB_DISTRO: "autosd10"
    MANIFEST: "examples/complex.aib.yml"
    CONTAINER_IMAGE_NAME: "localhost/auto:latest"
  before_script:
    # Set up container storage in a non-overlay locateion (in $CI_PROJECT_DIR)
    - mkdir -p "$CI_PROJECT_DIR/_containers/var" "$CI_PROJECT_DIR/_containers/run"
    - rm -rf /var/lib/containers /run/containers
    - mkdir -p /var/lib/containers /run/containers
    - mount --bind "$CI_PROJECT_DIR/_containers/var" /var/lib/containers
    - mount --bind "$CI_PROJECT_DIR/_containers/run" /run/containers
  script:
    - ./bin/aib build --verbose --build-dir _build --cache _build/cache --distro "$AIB_DISTRO" "$MANIFEST" "$CONTAINER_IMAGE_NAME"

.build-dev-template:
  image: quay.io/centos-sig-automotive/automotive-osbuild
  stage: test
  needs:
    - job: prepare-image-x86-job
      artifacts: true
  variables:
    AIB_DISTRO: "autosd10"
    MANIFEST: "examples/complex.aib.yml"
    DISK_IMAGE_NAME: "auto.img"
  script:
    - ./bin/aib-dev build --verbose --build-dir _build --cache _build/cache --distro "$AIB_DISTRO" "$MANIFEST"  "$DISK_IMAGE_NAME"

build-bootc-x86-job:
  extends: .build-bootc-template
  variables:
    AIB_DISTRO: "autosd10"

build-bootc-latest-x86-job:
  extends: .build-bootc-template
  variables:
    AIB_DISTRO: "autosd10-latest-sig"

build-dev-x86-job:
  extends: .build-dev-template
  variables:
    AIB_DISTRO: "autosd10"

packit-srpm-build:
  image: quay.io/packit/packit
  stage: test
  script:
    - packit srpm
  artifacts:
    paths:
      - "*.src.rpm"
    expire_in: 1 week

pages:
  stage: deploy
  image: python:3.11
  before_script:
    - python3 --version; pip --version
    - python3 -m pip install --upgrade pip
    - python3 -m pip install pyyaml jsonschema json-schema-for-humans
  artifacts:
    paths:
      - public
  script:
    - mkdir -p public
    - cp docs/index.html public/
    - generate-schema-doc files/manifest_schema.yml public/manifest.html
    # Backwards compat filename for old links
    - ln -s manifest.html public/simple_manifest.html
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

variables:
  IMAGE: quay.io/centos-sig-automotive/automotive-image-builder

.container-build: &container-build
  stage: container
  image: quay.io/buildah/stable:latest
  interruptible: true
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
  tags:
    - saas-linux-small-${ARCH}
  script:
    - buildah bud -f Containerfile ${BUILD_ARGS} -t "$IMAGE:$TAG-$ARCH" .
    - buildah login -u "$CONTAINER_REGISTRY_USER" -p "$CONTAINER_REGISTRY_PASSWORD" quay.io
    - buildah push "$IMAGE:$TAG-$ARCH"
    - echo "MANIFEST=$IMAGE:$TAG" > container.env
  artifacts:
    reports:
      dotenv: container.env

.container-manifest: &container-manifest
  stage: deploy
  image: quay.io/buildah/stable:latest
  script:
    - buildah login -u "$CONTAINER_REGISTRY_USER" -p "$CONTAINER_REGISTRY_PASSWORD" quay.io
    - buildah manifest create $MANIFEST $MANIFEST-{amd64,arm64}
    - buildah manifest push $MANIFEST docker://$MANIFEST

container-latest:
  <<: *container-build
  variables:
    TAG: latest
    BUILD_ARGS: ""
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "web"

container-latest-manifest:
  <<: *container-manifest
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "web"

# Release builds are triggered only by version tags (e.g., 1.1.4 or v1.1.4)
# This prevents accidental release builds from arbitrary tags
container-release:
  <<: *container-build
  variables:
    TAG: $CI_COMMIT_TAG
    BUILD_ARGS: "--build-arg MAKE_WHAT=rpm"
  rules:
    - if: $CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/

container-release-manifest:
  <<: *container-manifest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v?\d+\.\d+\.\d+$/

trigger-pipeline:
  stage: test
  variables:
    BUILD_BRANCH: AutoSD-10
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.py"
        - "**/*.yml"
        - automotive-image-builder
        - mpp/aib-osbuild-mpp
        - files/*
        - tests/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - !reference [.trigger-template, rules]

.prepare-aws-setup: &prepare-aws-setup
  - echo -e "\e[0Ksection_start:$(date +%s):aws_setup[collapsed=true]\r\e[0KPreparing AWS"
  - mkdir -p ~/.config
  - 'echo "client:" > ~/.config/duffy'
  - 'echo "  url: https://duffy.ci.centos.org/api/v1" >> ~/.config/duffy'
  - 'echo "  auth:" >> ~/.config/duffy'
  - 'echo "    name:" $duffy_name >> ~/.config/duffy'
  - 'echo "    key:" $duffy_key >> ~/.config/duffy'
  - base64 -d $ssh_key > automotive_sig.ssh
  - chmod 600 automotive_sig.ssh
  - pip install "duffy[client]"
  - echo -e "\e[0Ksection_end:$(date +%s):aws_setup\r\e[0K"

.prepare-cs-tmt-setup: &prepare-cs-tmt-setup
  - echo -e "\e[0Ksection_start:$(date +%s):tmt_setup[collapsed=true]\r\e[0KPreparing TMT"
  - dnf config-manager --set-enabled crb
  - dnf install -y python3-pip jq less rsync expect openssh-clients epel-release
  - dnf install -y tmt tmt+report-junit
  - echo -e "\e[0Ksection_end:$(date +%s):tmt_setup\r\e[0K"

build_doc_demos:
  stage: test
  image: python:3.11
  before_script:
    - apt-get update
    - apt-get install -y jq less
    - *prepare-aws-setup
  script:
    - sh tests/run_aws.sh
  allow_failure: true
  artifacts:
    paths:
      - logs
    when: always

integration_tests_10:
  stage: test
  # We need to add a time for wait/retry process to acquire a host from AWS to the overall time of test execution
  timeout: 120m
  image: quay.io/centos/centos:stream10
  needs:
    - job: packit-srpm-build
      artifacts: true
  before_script:
    - *prepare-cs-tmt-setup
    - *prepare-aws-setup
  script:
    - sh ci-scripts/run_tmt_tests.sh autosd10-sig
  artifacts:
    when: always
    paths:
      - tmt-run
    reports:
      junit: tmt-run/**/junit.xml
